[submodule "flutter_plugins/json_store"]
	path = flutter_plugins/json_store
	url = git@github.com:Stimim/flutter_json_store.git
[submodule "flutter_plugins/background_locator"]
	path = flutter_plugins/background_locator
	url = git@github.com:Stimim/background_locator.git
