html {
  font-size: large;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input-field.inline {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Kudos https://html-online.com/articles/blinking-text-css-animation/ */
.blinking {
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}
